{% load i18n static %}
{% load simpletags %}
<style>
    .multiselect-dropdown {
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        display: none; /* по умолчанию скрыто */
        position: relative;
        z-index: 10;
        background: #fff;
        padding: 10px;
    }
</style>
{% if cl.search_fields or cl.has_filters %}
<script type="text/javascript">
    function preSubmit() {
        $('#changelist-search').find("input[name!='']").each(function () {
            if ($(this).val() == '') {
                $(this).removeAttr('name');
            }
        });
    }
</script>
{% autoescape off %}
    {% load_dates %}
{% endautoescape %}
<div id="toolbar">
    <form id="changelist-search" method="get" onsubmit="preSubmit(this)">
        <input type="hidden" name="p" value=""/>
        <div class="simpleui-form">
            {% if cl.search_fields %}
                <el-input size="small" class="simpleui-form-item" clearable name="{{ search_var }}" :placeholder="placeholder" prefix-icon="el-icon-search" v-model="searchInput" @keyup.enter.native="formSubmit()"></el-input>
            {% endif %}
            {% if cl.has_filters %}
                {% for spec in cl.filter_specs %}
                    {% if spec|get_date_type == 'date' or spec|get_date_type == 'datetime' %}
                        <el-date-picker class="simpleui-form-item" size="small" v-model="{{ spec.field_path }}" @change="change{{ spec|get_date_type|capfirst }}" type="{{ spec|get_date_type }}range" start-placeholder="{{ spec.title }}" end-placeholder="{{ spec.title }}"></el-date-picker>
                        <input type="hidden" v-model="{{ spec.field_generic }}gte" name="{{ spec.field_generic }}gte"/>
                        <input type="hidden" v-model="{{ spec.field_generic }}lte" name="{{ spec.field_generic }}lte"/>
                    {% elif spec|has_filter %}
                        {% if spec.title == "Categories" %}
                            <div class="multiselect-dropdown">
                                {% for option in spec.lookup_choices %}
                                    <div>
                                        <input type="checkbox" :value="option.0" v-model="selectedCategories" id="choice{{ forloop.counter }}">
                                        <label for="choice{{ forloop.counter }}">{{ option.1 }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <el-select size="small" class="simpleui-form-item" filterable v-model="{{ spec.parameter_name }}" clearable placeholder="{{ spec.title }}">
                                {% for option in spec.lookup_choices %}
                                    <el-option label="{{ option.1 }}" value="{{ option.0 }}"></el-option>
                                {% endfor %}
                            </el-select>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            {% endif %}
            <el-button size="small" type="primary" icon="el-icon-search" @click="formSubmit()">{% trans 'Search' %}</el-button>
            ...
        </div>
    </form>
</div>

<script type="text/javascript">
    ...
    var searchApp = new Vue({
        el: '#toolbar',
        data: {
            placeholder: '{% trans 'Search' %}{% autoescape off %}{% search_placeholder %}'{% endautoescape %},
            searchInput: '{{ cl.query }}',
            selectedCategories: [],
            ...
        },
        watch: {
            selectedCategories: function() {
                this.updateURL();
            },
            ...
        },
        methods: {
            updateURL: function() {
                let queryParts = [];
                this.selectedCategories.forEach(category => {
                    queryParts.push('{{ spec.parameter_name }}=' + category);
                });
                const queryString = queryParts.join('&');
                window.location.href = window.location.pathname + (queryString ? '?' + queryString : '');
            },
            ...
        }
    });
</script>
{% else %}
<form id="changelist-search" method="get">
    <input type="hidden" name="p" value=""/>
</form>
{% endif %}
